# vim: ft=dosini
[Unit]
Description=A backup tool for Linux systems with a single btrfs root

[Service]
Type=oneshot
ExecStart=/usr/bin/btrborg-create
