# vim: ft=dosini
[Unit]
Description=Run btrborg daily

[Timer]
OnCalendar=%i
Persistent=true
Unit=btrborg.service

[Install]
WantedBy=multi-user.target
